date: \today

recipient:
  honorific: Mr
  first_name: John
  last_name: Smith
  company: Acme Corp
  company_short: Acme
  address:
    street: 456 Business Rd
    zip: 67890
    city: City
    country: Country
  email: name@example.com

position: Marketing Manager
initiative: true
cv_attached: false