language: en
babel_language: british

subject: "{% if initiative == true %}Speculative Application{% else %}Application for the Position of {{ position }}{% endif %}"
opening: "{% if recipient.last_name %}Dear {{ recipient.honorific }} {{ recipient.last_name }},{% else %}Dear Sir or Madam,{% endif %}"
body:
  - >
    I am writing to express my interest in the Marketing Position at {{ recipient.company }}. 
    With a strong background in digital strategy and communication, I believe I can bring valuable contributions to your team. {% if cv_attached %}Please find my CV attached for your review.{% endif %}
  - >
    My experience includes managing successful campaigns, enhancing brand visibility, and driving customer engagement.
body_start_date: >
  I am particularly drawn to {{ recipient.company }}'s innovative approach and commitment to excellence, which aligns with my professional values.
  I am available from {{ start_date }} and am eager to discuss how my skills can benefit your organization.
body_salary: My salary expectation is {{ salary_expectation }}.

closing: Kind regards