language: de
babel_language: german

subject: "{% if initiative == true %}Initiativbewerbung{% else %} Bewerbung als {{ position }}{% endif %}"
opening: "{% if recipient.last_name %}Sehr geehrter {{ recipient.honorific }} {{ recipient.last_name }},{% else %}Sehr geehrte Damen und Herren,{% endif %}"
body:
  - >
    Ich möchte hiermit mein Interesse an der Marketing-Position bei {{ recipient.company }} zum Ausdruck bringen.
    Mit einem starken Hintergrund in digitaler Strategie und Kommunikation bin ich überzeugt, wertvolle Beiträge zu Ihrem Team leisten zu können. {% if cv_attached %}Anbei finden Sie meinen Lebenslauf zur Durchsicht.{% endif %}
  - >
    Meine Erfahrung umfasst die Leitung erfolgreicher Kampagnen, die Steigerung der Markenbekanntheit und die Förderung der Kundenbindung.
body_start_date: >
  Besonders angesprochen hat mich der innovative Ansatz und das Engagement von {{ recipient.company }} für Exzellenz, was meinen beruflichen Werten entspricht.
  Ich stehe Ihnen ab dem {{ start_date }} zur Verfügung und freue mich darauf, mit Ihnen zu besprechen, wie meine Fähigkeiten Ihrem Unternehmen zugutekommen können.
body_salary: Meine Gehaltsvorstellung beträgt {{ salary_expectation }}.

closing: Mit freundlichen Grüßen