%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Jinja template for a TeX cover letter.
% Copyright (C) 2025  Tobias Holmes

% This program is free software: you can redistribute it and/or modify
% it under the terms of the GNU General Public License as published by
% the Free Software Foundation, either version 3 of the License, or
% any later version.

% This program is distributed in the hope that it will be useful,
% but WITHOUT ANY WARRANTY; without even the implied warranty of
% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
% GNU General Public License for more details.

% You should have received a copy of the GNU General Public License
% along with this program.  If not, see <https://www.gnu.org/licenses/>.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

%%% PREAMBLE
\documentclass[foldmarks=false,
			   fromemail=true,
			   fromurl=true,
			   fromphone={% if sender.phone %}true{% else %}false{% endif %},
			   fromfax=false,
			   fromalign=right,
			   backaddress=false,
			   parskip=half,
			   fontsize=10pt,
			   a4paper]{scrlttr2}
\usepackage[margin=2.5cm]{geometry}
\LoadLetterOption{DINmtext}
\setplength{refvpos}{89mm}
\usepackage[hidelinks]{hyperref}
\usepackage[{{ babel_language }}]{babel}
\usepackage{fontspec}
\usepackage{fontawesome5}
\setmainfont{DejaVu Sans}


%%%END PREAMBLE
%=============================================================================
%%%BEGIN DOCUMENT
\begin{document}

% Sender info
\setkomavar{fromname}{ {{- sender.first_name }} {{ sender.last_name -}} }
\setkomavar{fromaddress}{ {% if sender.address.street %}{{- sender.address.street }}\\{% endif %}%
{% if sender.address.zip %}{{ sender.address.zip }} {{ sender.address.city }}{% endif %}%
{% if language == 'en' and sender.address.zip%}\\{{ sender.address.country }}{% endif %}%
	}
\setkomavar{fromphone}[\faPhone]{ {% if sender.phone %}{{ sender.phone -}}{% endif %} }
\setkomavar{fromemail}[\faEnvelope]{\href{mailto:{{- sender.email -}} }{ {{ sender.email -}} }}
\setkomavar{fromurl}[\faGlobe]{\href{https://{{- sender.url -}} }{ {{ sender.url -}} }}

% Date and subject
\setkomavar{date}{ {{- date -}} }
\setkomavar{subject}{ {{- subject -}} }

% Recipient info
\begin{letter}{ \textbf{ {{- recipient.company|latex -}} }\\%
	{% if recipient.last_name %}{{- recipient.honorific }} {{ recipient.first_name }} {{ recipient.last_name -}}\\{% endif %}%
	{% if recipient.address.street %}{{- recipient.address.street -}}\\{% endif %}%
	{% if recipient.address.city or recipient.address.zip %}{{- recipient.address.zip }} {{ recipient.address.city -}}\\{% endif %}%
	{% if recipient.address.country != sender.address.country %}{{- recipient.address.country -}}\\{% endif %}%
	{% if recipient.email %}{{- recipient.email -}}\\{% endif %}%
		}

	\opening{ {{- opening -}} }
	{% for block in body %}
	{{ block }}
	{% endfor %}
	\closing{\raggedright {% if closing %} {{- closing -}} {% else %} Sincerely, {% endif %}}

\end{letter}
\end{document}
%%%END DOCUMENT
%%%EOF