% =============================================================================
% File: cover_letter-template.tex.j2
% Author: Tobias Holmes
% Description: Cover letter template in LaTeX/Jinja2 for job applications
% Created: 06/2025
% =============================================================================
%%% PREAMBLE
\documentclass[foldmarks=false,
			   fromemail=true,
			   fromurl=true,
			   fromphone={%if sender.phone %}true{% else %}false{% endif %},
			   fromfax=false,
			   fromalign=right,
			   backaddress=false,
			   parskip=half,
			   fontsize=10pt,
			   a4paper]{scrlttr2}
\usepackage[margin=2.5cm]{geometry}
\LoadLetterOption{DINmtext}
\setplength{refvpos}{89mm}
\usepackage[hidelinks]{hyperref}
\usepackage[{{ babel_language }}]{babel}
\usepackage{fontspec}
\usepackage{fontawesome5}
\setmainfont{DejaVu Sans}


%%%END PREAMBLE
%=============================================================================
%%%BEGIN DOCUMENT
\begin{document}

% Sender info
\setkomavar{fromname}{ {{- sender.name -}} }
\setkomavar{fromaddress}{ {% if sender.address.street %}{{- sender.address.street }}\\{% endif %}%
{% if sender.address.zip %}{{ sender.address.zip }} {{ sender.address.city }}{% endif %}%
{% if language == 'en' and sender.address.zip%}\\{{ sender.address.country }}{% endif %}%
}
\setkomavar{fromphone}[\faPhone]{ {% if sender.phone %}{{ sender.phone -}}{% endif %} }
\setkomavar{fromemail}[\faEnvelope]{\href{mailto:{{- sender.email -}} }{ {{ sender.email -}} }}
\setkomavar{fromurl}[\faGlobe]{\href{https://{{- sender.url -}} }{ {{ sender.url -}} }}

% Date and subject
\setkomavar{date}{ {{- date -}} }
%\setkomavar{date}{ {% if date %} {{- date -}} {% else %} \today {% endif %} }
\setkomavar{subject}{ {{- subject -}} }

% Recipient info
\begin{letter}{ \textbf{ {{- recipient.company -}} }\\%
	{{- recipient.fname -}} {{- recipient.lname -}}\\%
	{{ recipient.address.street }}\\%
	{{ recipient.address.zip }} {{ recipient.address.city }}\\%
	{{ recipient.address.country }}}

	\opening{ {{- opening -}} }
	{% for block in body %}
	{{ block }}
	{% endfor %}
	\closing{\raggedright {% if closing %} {{- closing -}} {% else %} Sincerely, {% endif %}}

\end{letter}
\end{document}
%%%END DOCUMENT
%%%EOF